doctype html
html(lang="en-us", ng-app='app')
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(charset="utf-8")
    title Heroku node.js template
    meta(nname="viewport" content="width=device-width, initial-scale=1" rel='stylesheet')
    link(href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel='stylesheet')
    link(href="bower_components/font-awesome/css/font-awesome.min.css" rel='stylesheet')
    link(href="bower_components/bootstrapValidator/dist/css/bootstrapValidator.min.css" rel='stylesheet')
    link(href="bower_components/ladda/dist/ladda-themeless.min.css" rel='stylesheet')
    link(href="bower_components/animate.css/animate.min.css" rel='stylesheet')
    link(href="bower_components/github-fork-ribbon-css/gh-fork-ribbon.css" rel='stylesheet')
    link(href="less/app.css" rel='stylesheet')
  
  body(style='overflow: visible;')
    #fb-root
    // Main
    div.github-fork-ribbon-wrapper.right
      div.github-fork-ribbon
        a(href='https://github.com/bigcoor/secret') Fork me on GitHub
    section#home.main.text-center(ng-controller="IndexCtrl")
      .page
        .wrapper
          .container
            h1 
              | Nothing too much amazing&period;
            h3
              | Just a MEAN template for heroku&period;
            footer.text-center
              .social
                a.jiathis_button_weixin.btn.btn-theme(href='#')
                  i.fa.fa-weixin
                a.btn.btn-theme(href="https://plus.google.com/share?url={URL}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;")
                  i.fa.fa-google-plus

    include includes/footer
    //
      common script
    include includes/scripts
    //
      other script