script(src='bower_components/jquery/dist/jquery.min.js')
script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
script(src='bower_components/jquery-backstretch/jquery.backstretch.min.js')
script(src='bower_components/jquery.countdown/dist/jquery.countdown.min.js')
script(src='bower_components/bootstrapValidator/dist/js/bootstrapValidator.min.js')
script(src='bower_components/spin/javascripts/jquery.spin.js')
script(src='bower_components/ladda/dist/ladda.min.js')
script(src='bower_components/retina.js/dist/retina.min.js')
script(src='bower_components/wow/dist/wow.min.js')
script(src='bower_components/angular/angular.min.js')
script(src='bower_components/angular-moment/angular-moment.min.js')
script(src='bower_components/angular-route/angular-route.min.js')
script(src='bower_components/angular-bootstrap-switch/dist/angular-bootstrap-switch.min.js')
script(src='js/init.js')
script(src='js/emailAddress.js')
script(src='js/settings-panel.js')
//controllers
script(src='js/controllers.js')

script(type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1" charset="utf-8")
script(src="https://apis.google.com/js/platform.js" async defer)
  | {lang: 'zh-CN'}

.backstretch(style='left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; z-index: -999999; position: fixed; width: 1262px; height: 538px;')
  img(src='images/1.jpg', style='position: absolute; margin: 0px; padding: 0px; border: none; max-height: none; max-width: none; z-index: -999999; width: 1262px; height: 842.5111999999999px; left: 0px; top: -152.25559999999996px;')

//facebook share SDK
script(type='text/javascript').
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_CN/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'))
